name: Publish Python Package

on:
  release:
    types: [created]

permissions:
  contents: read

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
    steps:
    - uses: actions/checkout@v5
    - uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.12"
    - run: uv build
    - run: uv publish

